__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
dist/
*.egg-info/
.eggs/

.venv/
venv/
ENV/
env/

.env
.env.*
*.env

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.cover/
.tox/
.nox/
*.cover
*.py,cover

.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

instance/
*.sqlite
*.sqlite3
*.db
.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/
__pypackages__/

app/static/.webassets-cache/
