.map-section #map {
    height: 400px;
}

.map-section #map, .walk-map-section #singleWalkMap {
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 0 0 8px var(--shadow-medium);
    background-color: #334433;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-container a:focus {
    outline: none ;
}

.leaflet-container path:focus {
    outline: none ;
}

.leaflet-top {
    z-index: 500 !important;
}

@media (max-width: 768px) {
    .map-section #map,
    .walk-map-section #singleWalkMap,
    .single-walk-map {
        height: 80vh;
        min-height: 420px;
    }
}

@media (max-width: 480px) {
    .map-section #map,
    .walk-map-section #singleWalkMap,
    .single-walk-map {
        height: 75vh;
        min-height: 360px;
    }
}

@media (max-aspect-ratio: 3/4) {
    .map-section #map,
    .walk-map-section #singleWalkMap,
    .single-walk-map  {
        height: min(75vh, 980px);
        min-height: 250px;
    }
}
