<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все мои прогулки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <header>
        <h1 class="fancy-title">Все мои прогулки</h1>
        <div class="header-controls">
            <nav>
                <a href="{{ url_for('main.index') }}" class="back-link">← Ко всем прогулкам</a>
            </nav>
            <div class="sort-dropdown">
                <button id="sort-dropdown-btn" class="sort-dropdown-btn">
                    <span id="sort-selected-text">Сначала новые</span>
                    <span class="sort-arrow">↓</span>
                </button>
                <div id="sort-dropdown-content" class="sort-dropdown-content">
                    <div data-sort="distance_desc" class="sort-option">По убыванию дистанции</div>
                    <div data-sort="distance_asc" class="sort-option">По возрастанию дистанции</div>
                    <div data-sort="date_desc" class="sort-option">Сначала новые</div>
                    <div data-sort="date_asc" class="sort-option">Сначала старые</div>
                </div>
            </div>
        </div>
    </header>

    <section class="all-walks-section card">
        <div id="all-walks-grid" class="all-walks-grid">
        </div>
    </section>
</div>

<script src="{{ url_for('static', filename='js/all_walks.js') }}"></script>
</body>
</html>
