<!DOCTYPE html>
<html lang="{{ lang|default('ru') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Track My Walk{% endblock %}</title>

    {% block base_styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    {% endblock %}

    {% block base_favicons %}
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% endblock %}

    {% block head_extra %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% block header %}{% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>
